{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

<section class="site-content">
  
  <div id="body-container">

     <section class="price-guide container text-center">
          <div class="py-5">
            <h1>TSG Population Report</h1>
            <h4 class="pt-4">Records for all cards, tickets, packs, coins and pins graded by TSG</h4>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="input-group">
                <input type="text" class="form-control border border-primary" placeholder="Search TSG graded items" aria-label="Search TSG-certified collectibles">
                <span class="input-group-btn">
                  <button class="btn btn-primary border border-primary rounded-0" type="button"><i class="fas fa-search"></i></button>
                </span>
              </div>
            </div>
          </div>

         </section>

    <section class="feature-panel container text-center py-5">
      <div class="row justify-content-center py-5">
        <div class="col-xs-12 col-sm-4">
          <span class="feature-panel-con "><i class="fas fa-search" style="color: #6610f2;"></i></span>
          <h4 class="mt-5 ">Flexible Search</h4>
          <p>Search the report by a specific set or by a specific player.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <span class="feature-panel-con"><i class="fas fa-database" style="color: #007bff;"></i></span>
          <h4 class="mt-5 ">Drill into the Data</h4>  
          <p>Get an exact count of each item graded, from TSG 1-10, plus category summaries.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <span class="feature-panel-con"><i class="far fa-calendar-alt" style="color: #e83e8c;"></i></span>
          <h4 class="mt-5 ">Updated Frequently</h4>
          <p>
            Data is updated each day as more and more items are submitted to TSG.
          </p>
            </div>
          </div>
        </section>

    <section class="guide-category container text-center">
      <div class="guide py-5">
        <h2>Browse SMR Price Guide by Category</h2>
        <h5>Select a category below to browse by collectible type</h5>
      </div>
      
      <div class="row justify-content-center">
        
        <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>

  </div>
</section>

{% endblock %}