{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<section class="site-content">
  
  <div id="body-container">

    <!--video section-->
<section>
   
</section>
<!--submition section-->
<section class="submitssion text-center py-5">
  <div class="container">
    <h3 class="py-3">Submission Resources</h3>
    <div class="row justify-content-center ">
     <div class="card-group py-3">
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <a href="" class="link">
        <div class="card" style="width: 18rem;">
          <img class="card-img" src="images/icon-psa-services.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <a href="" class="link">
        <div class="card" style="width: 18rem;">
          <img class="card-img" src="images/icon-psa-onlinesub.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <a href="" class="link">
        <div class="card" style="width: 18rem;">
          <img class="card-img" src="images/icon-psa-customersvc.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <a href="" class="link">
        <div class="card" style="width: 18rem;">
          <img class="card-img" src="images/icon-psa-howtosubmit.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <a href="" class="link">
        <div class="card" style="width: 18rem;">
          <img class="card-img" src="images/icon-psa-packing.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="" class="link">
        <div class="card" style="width: 18rem;">
          <img class="card-img" src="images/icon-psa-shipaddress.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      </div>
        </div>
      </div>

      <div class="faq-title">
        <h3><a href="">Have more questions? Check out our FAQ's</a></h3>
      </div>
    </div>
  </section>

<!--gray section-->
<section class="grey-section py-5">
  <div class="container grading-resources-container text-center">
    <h2 class="py-5">Grading Resources</h2>

    <div class="row justify-content-center">

      
        <div class="col-xs-12 col-md-6">
          <a href="#" class="link">
          <div class="card mb-4">
            <img class="card-img px-4" src="images/gradingstandards.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-uppercase">Grading Standards</h4>
              <p class="card-text">TSG grading is the widely accepted standard in the trading card industry.</p>
              <a href="#" class="card-link  ">Learn more</a>
            </div>
          </div>
          </a>
        </div>
        

      <div class="col-xs-12 col-md-6">
        <a href="#" class="link">
          <div class="card">
            <img class="card-img py-5 " src="images/photograde.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-uppercase">Photograde</h4>
              <p class="card-text">It's easy for beginners and experts alike to obtain approximate grades with Photograde Online.</p>
              <a href="#" class="card-link  ">Learn more</a>
            </div>
          </div>
          </a>
      </div>

    </div>

  </div>
  </section>

<!--library section-->
<section class="library text-center py-5">
  <div class="container">
    <h3 class="py-3">TSG Library</h3>
    <div class="row justify-content-center ">
     <div class="card-group py-3">
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <a href="" class="link">
        <div class="card" style="width: 18rem;">
          <img class="card-img" src="images/icon-psa-lib-article.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <a href="" class="link">
        <div class="card" style="width: 18rem; ">
          <img class="card-img" style="width: 140px; height: 60px;" src="images/icon-psa-lib-smr.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <a href="" class="link">
        <div class="card" style="width: 18rem;">
          <img class="card-img" src="images/icon-psa-lib-ezine.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <a href="" class="link">
        <div class="card" style="width: 18rem;">
          <img class="card-img" src="images/icon-psa-lib-toplist.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <a href="" class="link">
        <div class="card" style="width: 18rem;">
          <img class="card-img" src="images/icon-psa-lib-blog.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="" class="link">
        <div class="card" style="width: 18rem;">
          <img class="card-img" src="images/icon-psa-lib-radio.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      </div>
        </div>
      </div>

    </div>
  </section>

<!--fourms-->
<section class="fourms">
  <div class="container">

    <div class="row justify-content-center">
    
      <div class="col-xs-12 col-md-6 py-5">
          <h2 class="text-center mt-2">TSG Fourms</h2>
          <p class="text-center">Meet fellow collectors and discuss all things involving the hobby, trading cards and memorabilia.</p>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action mb-2"><div class="bar orange"></div><img src="images/icon-mb-comm.png " class=" align-self-center"><h5 class="mt-2">Dapibus ac facilisis in</h5></a>
            <a href="#" class="list-group-item list-group-item-action mb-2"><div class=" bar seafoam"></div><img src="images/icon-mb-buysell.png" class=" mt-2"><h5 class="mt-2">Morbi leo risus</h5></a>
            <a href="#" class="list-group-item list-group-item-action mb-2"><div class=" bar blue"></div><img src="images/icon-mb-setreg.png" class=""><h5 class="mt-2">Porta ac consectetur</h5></a>
            <a href="#" class="list-group-item list-group-item-action mb-2"><div class=" bar green"></div><img src="images/icon-mb-sportstalk.png" class=""><h5 class="mt-2">Vestibulum at eros</h5></a>
          </div>
           <div class="separator"></div>
         </div>

        <div class="col-xs-12 col-md-6 py-5">
            <h2 class="text-center">Shows &amp; Events</h2>
            <p class="description">PSA &amp; PSA/DNA travel to shows across the United States. Find out where we'll be next.</p>
                <div class="tables py-5 ml-2">
                    <table class="table">
              
                      <tbody>
                        <tr class="line">
                          <th class="day" scope="row">1</th>
                          <td>
                            <div class="month">January</div>
                            <div class="day-week">Friday</div>
                          </td>
                          <td>
                            <div class="title">JP's Sports Winter Extravaganza</div>
                            <div class="location">Westchester County Center</div>
                            <div class="dates">January 11-13, 2019</div>
                          </td>
                          
                        </tr>
                        <tr class="line">
                          <th class="day" scope="row">2</th>
                          <td>
                            <div class="month">January</div>
                            <div class="day-week">Friday</div>
                          </td>
                          <td>
                            <div class="title">JP's Sports Winter Extravaganza</div>
                            <div class="location">Westchester County Center</div>
                            <div class="dates">January 11-13, 2019</div>
                          </td>
                          
                        </tr>
                        <tr class="line">
                          <th class="day" scope="row">3</th>
                          <td>
                            <div class="month">January</div>
                            <div class="day-week">Friday</div>
                          </td>
                          <td>
                            <div class="title">JP's Sports Winter Extravaganza</div>
                            <div class="location">Westchester County Center</div>
                            <div class="dates">January 11-13, 2019</div>
                          </td>
                          
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td>
                            <div class="table-footer">
                              <a href="#">View Full Calendar</a>
                            </div>
                          </td>
                          
                        </tr>
                      </tbody>

                    </table>
                   </div>
                        
              </div>
               

    </div>

    
    
  </div>
</section>

</div>
</section>

{% endblock %}