{% extends 'base_layout.html' %}
{% load static %}

{% block content %}


<section class="site-content">
  
  <div id="body-container">
    
    <section class="price-guide container text-center">
          <div class="py-5">
            <h1>SMR Price Guide</h1>
            <h4 class="pt-4">The official price guide for TSG-certified collectibles</h4>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="input-group">
                <input type="text" class="form-control border border-primary" placeholder="Search TSG-certified collectibles" aria-label="Search TSG-certified collectibles">
                <span class="input-group-btn">
                  <button class="btn btn-primary border border-primary rounded-0" type="button"><i class="fas fa-search"></i></button>
                </span>
              </div>
            </div>
          </div>

         </section>

    <section class="feature-panel container text-center py-5">
      <div class="row justify-content-center py-5">
        <div class="col-xs-12 col-sm-4">
          <span class="feature-panel-con "><i class="fas fa-search" style="color: #6610f2;"></i></span>
          <h4 class="mt-5 ">Flexible Search</h4>
          <p>Search for prices by set or a specific player.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <span class="feature-panel-con"><i class="fas fa-database" style="color: #007bff;"></i></span>
          <h4 class="mt-5 ">Drill into the Data</h4>  
          <p>Filter the results to find the prices
              that matter to you.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <span class="feature-panel-con"><i class="far fa-calendar-alt" style="color: #e83e8c;"></i></span>
          <h4 class="mt-5 ">Updated Frequently</h4>
          <p>
            Prices are updated regularly by our experts.
            <b>417,634</b> Current SMR Prices
            Last updated: <b>12/31/2018 9:36:37 AM</b>
          </p>
            </div>
          </div>
        </section>

    <section class="guide-category container text-center">
      <div class="guide py-5">
        <h2>Browse SMR Price Guide by Category</h2>
        <h5>Select a category below to browse by collectible type</h5>
      </div>
      
      <div class="row justify-content-center">
        
        <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="#" >
              <div class="my-card card mb-2 border border-primary">
                <img class="card-img ml-auto mr-auto mt-5" src="images/1958.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-dark text-uppercase">Card title</h4>
                </div>
              </div>
              </a>
          </div>
      
      </div>

      
     </section>

    <section id="price-guide" class="container py-5">

        <p>
            <strong>SMR Online</strong> is the only official price guide for PSA-certified collectibles and it is the most comprehensive price guide in the hobby. It includes over 400,000 prices for a host of different collectibles including, but not limited to: sports and non-sports trading cards, autographs, unopened packs, tickets, professional model bats and graded baseballs.
        </p>
        <p>
            <strong>SMR Online</strong> covers all the major sports too. Baseball, basketball, football, hockey, golf, racing and even boxing prices are here! SMR Online also covers many of the most popular non-sports issues like 1940 Gum, Inc. Superman and 1962 Topps Mars Attacks. No other price guide covers such a wide range of collectibles, from vintage legends like Babe Ruth to modern stars like Derek Jeter.
        </p>

        
        <p>
            <a href="/Articles/ArticleView/3546/a-note-about-sportscard-pricing"><strong>A Note About Sportscard Pricing</strong></a>.
        </p>

       </section>

  </div>
</section>



{% endblock %}