{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

<section class="site-content">
  
  <div id="body-container">
    <div class="col-xs-12 col-sm-12">
        <div class="members-content text-center py-5">
         <h6 style="margin: 20px 0; font-weight: bold;">Join TCG Collectors Club</h6>
          <hr>
          

          <div class="container py-3">
            <div class="row">
              <div class="col-xs-12 col-sm-6 text-center">
                <div class="card">
                  <div class="card-body">
                    <i class=" fas fa-trophy" style="font-size: 4rem; color: #efe632;"></i>
                    <div class="card-title">Gold</div>
                    <div class="card-subtitle">Membership</div>
                    <div class="card-price mb-2"> $194</div>
                    <p><strong>6 Submissions</strong>
                      <br>
                      with Monthly grading specials.
                    </p>
                    <p>One year subscription to the Sports Market Report (SMR) </p>

                    <a href="" class="btn btn-primary btn-lg mt-2">JOIN</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 text-center">
                <div class="card">
                  <div class="card-body">
                    <i class=" fas fa-trophy" style="font-size: 4rem; color: #c0c7d1;"></i>
                    <div class="card-title">Platinum</div>
                    <div class="card-subtitle">Membership</div>
                    <div class="card-price mb-2"> $294</div>
                    <p><strong>15 Submissions</strong>
                      <br>
                      with Monthly grading specials.
                    </p>
                    <p>One year subscription to the Sports Market Report (SMR) </p>

                    <a href="" class="btn btn-primary btn-lg mt-2">JOIN</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

{% endblock %}